.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 1000;
};

// The modal "window"
.modal-block {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid black;
  max-width: 500px;
  min-height: 300px;
  margin: 50px auto;
  padding: 30px;
  z-index: 1050;
};
